{% extends 'base.html.twig' %}

{% block body %}

<h3>Evénement : {{ event }} <small><a href="{{ path('event_edit', {'id': event.id}) }}">Editer</a></small></h3>

<table class="table table-bordered table-striped">
	<tr>
		<th>Nom</th>
		<td>{{ event }}</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>{{ event.description }}</td>
	</tr>
	<tr>
		<th>Lieu</th>
		<td>{{ event.place }} {{ event.place and event.place.country ? '('~event.place.country~')' }}</td>
	</tr>
</table>

<hr />

{% include 'ApplicationSonataMediaBundle:Gallery:preview.html.twig' with {'gallery': event.gallery, 'title': "Galerie de photos"} %}


{% endblock %}