{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	{{ form_stylesheet(form) }}
{% endblock %}

{% block body %}

{% set gallery = galleryHasMedia.gallery %}
{% set media = galleryHasMedia.media %}

<h3>Modifier les informations de la photo : {{ media }}</h3>

{{ form(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ form_javascript(form) }}
{% endblock %}