{% extends 'base.html.twig' %}

{% block container %}  {% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<style>
		xx#media-container > .img {
			background-image: url({% path media, 'reference' %});
			height: {{ media.height }}px;
		}
		xx#previous-media, xx#next-media {
			height: {{ media.height + 40}}px;
		}
	</style>
{% endblock %}


{% block body %}

<div class="container">
	<h3>
		{% if gallery.person %}
		    <a href="{{ path('person_show', {'id': gallery.person.id}) }}">{{ gallery.person }}</a> 
		{% elseif gallery.place %}
		    <a href="{{ path('place_show', {'id': gallery.place.id}) }}">{{ gallery.place }}</a> 
		{% elseif gallery.event %}
		    <a href="{{ path('event_show', {'id': gallery.event.id}) }}">{{ gallery.event }}</a> 
		{% endif %}
	    {{ icon('chevron-right small') }}
	    <a href="{{ path('gallery_show', {'id': gallery.id}) }}">Galerie de photos</a>
		{{ icon('chevron-right small') }}
		{{ media }}
		
		<small><a href="{{ path('gallery_edit_media', {'galleryId': gallery.id, 'mediaId': media.id}) }}">Editer</a></small>
	</h3>
</div>

<div class="container-fluid" id="media-container">
	{# media media, 'reference' with {'class': 'img-thumbnail'} #}
	<a href="#" id="previous-media">{{ icon('chevron-left') }}</a>
	<div>
		<img alt="{{ media.name }}" title="{{ media.name }}" src="{% path media, 'reference' %}">
	</div>
	<a href="#" id="next-media">{{ icon('chevron-right') }}</a>
	
</div>

<div class="container">
	{{ dump(media) }}
</div>

{% endblock %}