{% extends 'base.html.twig' %}

{% block container %}  {% endblock %}

{% set gallery = galleryHasMedia.gallery %}
{% set media = galleryHasMedia.media %}

{% block stylesheets %}
    {{ parent() }}
	<style>
		xx#media-container > .img {
			background-image: url({% path media, 'reference' %});
			height: {{ media.height }}px;
		}
		xx#previous-media, xx#next-media {
			height: {{ media.height + 40}}px;
		}
	</style>
{% endblock %}


{% block body %}

<div class="container">
	<h3>
		{% if gallery.person %}
		    <a href="{{ path('person_show', {'id': gallery.person.id}) }}">{{ gallery.person }}</a> 
		{% elseif gallery.place %}
		    <a href="{{ path('place_show', {'id': gallery.place.id}) }}">{{ gallery.place }}</a> 
		{% elseif gallery.event %}
		    <a href="{{ path('event_show', {'id': gallery.event.id}) }}">{{ gallery.event }}</a> 
		{% endif %}
	    {{ icon('chevron-right small') }}
	    <a href="{{ path('gallery_show', {'id': gallery.id}) }}">Galerie de photos</a>
		{{ icon('chevron-right small') }}
		{{ media }}
		
		<small><a href="{{ path('gallery_edit_media', {'id': galleryHasMedia.id}) }}">Editer</a></small>
	</h3>
</div>

<div class="container-fluid" id="media-container">
	{% if galleryHasMedia.prev %}
		<a href="{{ path('gallery_show_media', {'id': galleryHasMedia.prev.id}) }}" id="previous-media">{{ icon('chevron-left') }}</a>
	{% else %}
		<span id="previous-media"></span>
	{% endif %}
	<div>
		<img alt="{{ media.name }}" title="{{ media.name }}" src="{% path media, 'reference' %}">
	</div>
	{% if galleryHasMedia.next %}
		<a href="{{ path('gallery_show_media', {'id': galleryHasMedia.next.id}) }}" id="next-media">{{ icon('chevron-right') }}</a>
	{% else %}
		<span id="next-media"></span>
	{% endif %}
	
</div>

<div class="container">
	<table class="table">
		<tr><td><b>Nom : </b> {{ media.name }}</td></tr>
		{% if media.description %}
			<tr><td><b>Description : </b> {{ media.description }}</td></tr>
		{% endif %}
		{% if media.place %}
			<tr><td><b>Lieu : </b> {{ media.place }}</td></tr>
		{% endif %}
		{% if media.event %}
			<tr><td><b>Evénement : </b> {{ media.event }}</td></tr>
		{% endif %}
		{% if media.persons is not empty %}
			<tr><td><b>Personnes : </b> {{ media.persons|join(', ') }}</td></tr>
		{% endif %}
	</table>
</div>

{% endblock %}